In [ ]:
# day 2 python fundamentals

In [75]:
print("hello")

hello

In [ ]:
# variable naming convention

In [6]:
myvar = "Hello"
my_var = "Hello"
_my_var = "Hello"
myVar = "Hello"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)

Hello
Hello
Hello
Hello

In [7]:
# local varible

In [8]:
def hello():
    a = 10          # Here a is local variable
    print(a) 
    return
hello()

10

In [ ]:
# local and global variable

In [9]:
a = "Welcome to Skillfor future 1.0" # Here a is global variable
def hello():
    a = 20
    print(a)  # Here a is local variable
    return
hello()
print(a)

20
Welcome to Skillfor future 1.0

In [15]:
## spliting keywords

In [16]:
statement = "      Python is a programming language      "
print(statement.split())
print(statement.split('p'))

['Python', 'is', 'a', 'programming', 'language']
['      Python is a ', 'rogramming language      ']

In [ ]:
#string format

In [17]:
name = "Aryan"
age = 21
print("My name is {} and I am {} years old".format(name, age))

My name is Aryan and I am 21 years old

In [ ]:
#string indexing

In [28]:
name = "Aryan"
print(name[0])
print(name[::-1])

A
nayrA

In [30]:
#list 
fruits = ["apple", "banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [31]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [33]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange") # insert orange at index 1
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [34]:
###tuple

#create tuples -

tup1 = "parul", 22, "Bharat", 45.5, "vadodara", 99

print(tup1)
print(type(tup1))

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>

In [77]:
## tuple slicing
tup1[2:4]

('Bharat', 45.5)

In [76]:
## combine tuple
tup2=("python", 87)

tup3 = tup1 + tup2

In [41]:
print(tup3)

('parul', 22, 'Bharat', 45.5, 'vadodara', 99, 'python', 87)

In [43]:
### tuple count method
numbers = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = numbers.count(5)  # 5 is the element in tuple

print(x)

2

In [51]:
#dictionary 
my_dict = {"name": "Doha", "age": 22, "city": "Delhi"}
print(my_dict)
print(my_dict.get("city", "Not Found"))
print(type(my_dict))

{'name': 'Doha', 'age': 22, 'city': 'Delhi'}
Delhi
<class 'dict'>

In [56]:
#for keys and values of dictionary 
print(my_dict.keys())
print(my_dict.values())
my_dict["city"]

dict_keys(['name', 'age', 'city'])
dict_values(['Doha', 22, 'Delhi'])

'Delhi'

In [59]:
#items
my_dict.update({'name': "aryan"})
print(my_dict.items())

dict_items([('name', 'aryan'), ('age', 22), ('city', 'Delhi')])

In [63]:
theater = {
  "Movie": "Pushpa",
  "Actor": "Allu Arjun",
  "year": 2021
}
sorted(theater)


dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [61]:
#### set


fruits = {"apple", "banana"}
fruits.add("cherry")
print(fruits)

{'cherry', 'banana', 'apple'}

In [62]:
###set
subjects1 = {'Physics', 'Hindi', 'Chemistry', 'maths', 'Hindi'}
print(subjects1)
print(type(subjects1))


subjects2 = {'History', 'Social Science', 'Biology','Hindi'}
print(subjects2)


subjects1.union(subjects2) # This is another method to make union of two sets

subjects1.intersection(subjects2)  # To find the common iterm in both the sets

{'Physics', 'Hindi', 'maths', 'Chemistry'}
<class 'set'>
{'Biology', 'Hindi', 'Social Science', 'History'}

{'Hindi'}

In [64]:
### conditional statment


number = int(input("Enter Number  " ))

if number > 0:
    print("Positive number")

elif number == 0:
    print('Zero')
else:
    print('Negative number')

Enter Number   2

Positive number

In [65]:
counter = 0

while counter < 3:
    print('Hello world')
    counter = counter + 1

print('This statement is always executed')

Hello world
Hello world
Hello world
This statement is always executed

In [67]:
def is_prime(n):
    """Check if n is a prime number."""
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):  # check divisibility up to âˆšn
        if n % i == 0:
            return False
    return True

# Generate primes from 0 to 20
primes = [num for num in range(21) if is_prime(num)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [68]:
def calculate_bill(items, prices):
    """
    Calculate total bill amount from lists of items and prices.

    Args:
        items (list): List of item names
        prices (list): Corresponding list of prices

    Returns:
        float: Total amount of the bill
    """
    if len(items) != len(prices):
        raise ValueError("Items and prices lists must be of the same length.")
    
    total = sum(prices)
    return total

# Example usage
items = ["apple", "banana", "cherry"]
prices = [50, 20, 30]

total_amount = calculate_bill(items, prices)
print("Total Bill Amount:", total_amount)

Total Bill Amount: 100

In [74]:
def carbon_footprint(energy_kwh, emission_factor):
    """
    Calculate carbon footprint based on energy consumption.

    Args:
        energy_kwh (float): Energy consumption in kilowatt-hours (kWh)
        emission_factor (float): Emission factor in kg CO2 per kWh

    Returns:
        float: Carbon footprint in kg CO2
    """
    if energy_kwh < 0 or emission_factor < 0:
        raise ValueError("Energy consumption and emission factor must be non-negative.")
    
    footprint = energy_kwh * emission_factor
    return footprint

# Example usage
energy = 150  # kWh
emission = 0.7  # kg CO2 per kWh

carbon_emission = carbon_footprint(energy, emission)
print(f"Carbon Footprint: {carbon_emission} kg CO2")

Carbon Footprint: 105.0 kg CO2

In [70]:
# Sample data: city name and carbon footprint (kg CO2)
cities = [
    ("New York", 500),
    ("London", 350),
    ("Tokyo", 420),
    ("Berlin", 300),
    ("Delhi", 380)
]

# Sustainability threshold
threshold = 400

# Lambda + filter to select cities below the threshold
sustainable_cities = list(filter(lambda city: city[1] < threshold, cities))

print("Cities below sustainability threshold:")
for city in sustainable_cities:
    print(f"{city[0]}: {city[1]} kg CO2")

Cities below sustainability threshold:
London: 350 kg CO2
Berlin: 300 kg CO2
Delhi: 380 kg CO2

In [81]:
#exception handling
try:
    numerator = int(input("Enter the numerator: "))
    denominator = int(input("Enter the denominator: "))
    result = numerator / denominator
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except ValueError:
    print("Error: Please enter valid integers for numerator and denominator.")

Enter the numerator:  7
Enter the denominator:  47

Result: 0.14893617021276595

In [90]:
###class
  # Define the EnergySystem class
class EnergySystem:
    def __init__(self, building_name, energy_consumption, emission_factor):
        # Initialize attributes
        self.building_name = building_name
        self.energy_consumption = energy_consumption  # in kWh
        self.emission_factor = emission_factor  # kg CO2 per kWh

        
    #method to calculate carbon footprint
    def carbon_footprint(self):
            return self.energy_consumption * self.emission_factor

    #method to calculate energy saving
    def energy_saving(self):
            return self.energy_consumption * 0.10

# Example usage:
building = EnergySystem("Building A", 5000, 0.45)
print(f"{building.building_name}: {building.energy_consumption} kWh, {building.emission_factor} kg CO2/kWh")

carbon_calculate_footprint = building.carbon_footprint()
calculate_energy_saving = building.energy_saving()

print(carbon_calculate_footprint)
print(calculate_energy_saving)

Building A: 5000 kWh, 0.45 kg CO2/kWh
2250.0
500.0

In [91]:

# Subclass SolarEnergySystem inheriting from EnergySystem
class SolarEnergySystem(EnergySystem):
    def __init__(self, building_name, energy_consumption, emission_factor, solar_production):
        # Inherit attributes from the parent class
        super().__init__(building_name, energy_consumption, emission_factor)
        self.solar_production = solar_production  # energy produced by solar panels in kWh
    
    # Method to calculate net energy consumption (energy used - solar energy produced)
    def net_energy_consumption(self):
        return self.energy_consumption - self.solar_production

# Example usage:
solar_building = SolarEnergySystem("Solar Building", 5000, 0.45, 1500)
net_consumption = solar_building.net_energy_consumption()

print(f"Net Energy Consumption: {net_consumption} kWh")

Net Energy Consumption: 3500 kWh

In [95]:
class EnergySystem:
    def __init__(self, building_name, energy_consumption, emission_factor):
        self.building_name = building_name
        self._energy_consumption = energy_consumption  # Protected attribute
        self._emission_factor = emission_factor  # Protected attribute

    # Method to access energy consumption safely
    def get_energy_consumption(self):
        return self._energy_consumption

    # Method to calculate carbon footprint
    def calculate_carbon_footprint(self):
        return self._energy_consumption * self._emission_factor

# Example usage:
building = EnergySystem("Building A", 5000, 0.45)
print(f"Energy Consumption (accessed via method): {building.get_energy_consumption()} kWh")
print(f"Energy Consumption (accessed via method): {building.calculate_carbon_footprint()} kWh")

Energy Consumption (accessed via method): 5000 kWh
Energy Consumption (accessed via method): 2250.0 kWh

In [96]:
# Subclass SolarEnergySystem overriding the carbon footprint method
class SolarEnergySystem(EnergySystem):
    def __init__(self, building_name, energy_consumption, emission_factor, solar_production):
        # Call the parent class constructor to initialize inherited attributes
        super().__init__(building_name, energy_consumption, emission_factor)
        self.solar_production = solar_production  # new attribute for solar energy production
    
    # Overriding the carbon footprint method to account for solar production
    def calculate_carbon_footprint(self):
        # Access energy consumption from the parent class (inherited attribute)
        net_consumption = self._energy_consumption - self.solar_production
        return net_consumption * self._emission_factor

# Example usage:
solar_building = SolarEnergySystem("Solar Building", 5000, 0.45, 1500)
carbon_footprint = solar_building.calculate_carbon_footprint()

print(f"Adjusted Carbon Footprint (after solar production): {carbon_footprint:.2f} kg CO2")

Adjusted Carbon Footprint (after solar production): 1575.00 kg CO2